body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Monogram", serif;
  font-size: 30px;
  background-color: #FFDDD5;
  margin: 0;
  padding: 0;
}
